*{
  margin: 0;
}
.episodes-box{
  display: flex;
  flex-wrap: wrap;
}
.episode-box{
  width: 25%;
  box-sizing: border-box;
  border:1px black solid;
  padding: 10px;
  transition: all 0.4s ease;
}
.episode-box:hover{
  background: rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.characters-box{
  display: flex;
  flex-wrap: wrap;
}
.character-box{
  width: 25%;
  box-sizing: border-box;
  border:1px black solid;
  padding: 10px;
  transition: all 0.4s ease;
}